{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}


{% block title %}
    Event - {{ event.name }}
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-8">
                <img src="{{ event.image_url }}" alt="{{ event.name }}" class="img-fluid" style="max-width: 100%;">
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center text-primary">{{ event.name }}</h2>
                        <h4 class="text-bg-info">Venue: {{ event.venue }}</h4>
                        Link: <a href="{{ event.link }}"> {{ event.link }}</a>
                        <p class="card-text text-muted mt-4">
                            Starting at: {{ event.start_date }}
                        </p>
                        <p class="card-text text-muted">
                            Ending at: {{ event.end_date }}
                        </p>
                        <small class="text-muted">Last updated {{ event.updated }}</small>
                    </div>
                </div>

            </div>
            <div class="col-12 mt-5">
                <h2>Locate the Event</h2>
                <div id="map" style="height: 400px"></div>
            </div>
        </div>

    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ KEY }}&callback=initMap"
            async defer></script>
    <script>
        function initMap() {
            const location = {lat: {{ event.latitude }}, lng: {{ event.longitude }}};
            const map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 8
            });
            const marker = new google.maps.Marker({
                position: location,
                map: map,
                title: 'My Location'
            });
        }
    </script>
{% endblock content %}




